<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Image</key>
		<string>btn_1.png</string>
		<key>Pattern</key>
		<array>
			<dict>
				<key>CoordinateX</key>
				<integer>0</integer>
				<key>CoordinateY</key>
				<integer>0</integer>
				<key>Width</key>
				<integer>1</integer>
				<key>Height</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>CoordinateX</key>
				<integer>0</integer>
				<key>CoordinateY</key>
				<real>0.5</real>
				<key>Width</key>
				<integer>1</integer>
				<key>Height</key>
				<real>0.5</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Tag</key>
		<integer>1</integer>
		<key>Image</key>
		<string>btn_3.png</string>
		<key>Pattern</key>
		<array>
			<dict>
				<key>CoordinateX</key>
				<integer>0</integer>
				<key>CoordinateY</key>
				<integer>0</integer>
				<key>Width</key>
				<real>0.5</real>
				<key>Height</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>CoordinateX</key>
				<real>0.5</real>
				<key>CoordinateY</key>
				<integer>0</integer>
				<key>Width</key>
				<real>0.5</real>
				<key>Height</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>CoordinateX</key>
				<real>0.5</real>
				<key>CoordinateY</key>
				<real>0.5</real>
				<key>Width</key>
				<real>0.5</real>
				<key>Height</key>
				<real>0.5</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Tag</key>
		<integer>2</integer>
		<key>Image</key>
		<string>btn_2.png</string>
		<key>Pattern</key>
		<array>
			<dict>
				<key>CoordinateX</key>
				<integer>0</integer>
				<key>CoordinateY</key>
				<integer>0</integer>
				<key>Width</key>
				<real>0.5</real>
				<key>Height</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>CoordinateX</key>
				<real>0.5</real>
				<key>CoordinateY</key>
				<integer>0</integer>
				<key>Width</key>
				<real>0.5</real>
				<key>Height</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>CoordinateX</key>
				<integer>0</integer>
				<key>CoordinateY</key>
				<real>0.5</real>
				<key>Width</key>
				<real>0.5</real>
				<key>Height</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>CoordinateX</key>
				<real>0.5</real>
				<key>CoordinateY</key>
				<real>0.5</real>
				<key>Width</key>
				<real>0.5</real>
				<key>Height</key>
				<real>0.5</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Tag</key>
		<integer>3</integer>
		<key>Image</key>
		<string>Coming-Soon.png</string>
		<key>Pattern</key>
		<array>
			<dict>
				<key>CoordinateX</key>
				<integer>0</integer>
				<key>CoordinateY</key>
				<integer>0</integer>
				<key>Width</key>
				<integer>0</integer>
				<key>Height</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
