<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arrayTemplateImages</key>
	<array>
		<string>btn_1.png</string>
		<string>btn_2.png</string>
		<string>btn_3.png</string>
		<string>Coming-Soon.png</string>
	</array>
</dict>
</plist>
